body {
    padding-bottom: 50px;
}

footer {
    background-color: #2b2b33;
    color: #fff;
}

.legend-form {
    font-size: 2rem;
}

.gihal-name {
    padding: 30px 30px 0px 30px;
    font-size: 2rem;
}


/*  estilo de la columna de acciones de las tablas */
.action-column {
    width: 160px;
}


.table-wide {
    font-size: 13px;
}

.ancho-100 {
    width: 100px;
}

.ancho-50 {
    width: 50px;
}